@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* @apply transition-all duration-300 ease-in-out; */
}

a:focus,
button:focus,
input:focus,
select:focus {
  @apply outline-none ring ring-blue-500 ring-opacity-50;
}

html,
body {
  @apply overflow-x-hidden;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-gray-900;
}

a {
  @apply text-blue-500;
}

a:hover {
  @apply cursor-pointer text-blue-600;
}
